/* Google font link start */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* Google font link close */

/* Universal tag style start */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
/* Universal tag style close */

/* Sheard style start */
.btn {
  background-color: rgb(229, 84, 115);
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
/* Sheard style close*/

/* Navbar style start */
nav {
  width: 1920px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
}
nav div {
  width: 20%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
nav div h2 {
  text-align: center;
  height: 100%;
  font-size: 40px;
  font-weight: bold;
  padding: 8px 0px;
}
nav div h2 span {
  color: rgb(229, 84, 115);
}
nav ul {
  width: 60%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: end;
  padding-right: 50px;
  gap: 40px;
}
nav ul li {
  list-style: none;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}
nav ul li a:hover {
  background-color: rgb(229, 84, 115);
  box-shadow: 0px 0px 10px black;
  cursor: pointer;
  color: white;
  text-shadow: 0px 0px 5px black;
}

nav .country-section {
  width: 20%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.country {
  width: 100%;
  height: 100%;
}
.country select {
  width: 120px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 5px gray;
  background-color: rgb(229, 84, 115);
}
/* Navbar style close */

/* Banner section start */
.banner {
  width: 1920px;
  height: 850px;
  background: rgba(229, 84, 115, 0.1);
  margin-top: ;
  display: flex;
}
.banner-content {
  width: 50%;
  text-align: start;
  padding-left: 240px;
  padding-top: 197px;
}
.banner-content h2 {
  font-size: 80px;
  color: rgb(39 39 39);
  font-weight: 800;
}
.banner-content p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
}
.banner-img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
/* Banner section close */

/* card section style start */
.card {
  max-width: 1440px;
  min-height: 740px;
  margin: 120px auto;
}
.card-content {
  width: 100%;
  text-align: center;
}
.card-content h2 {
  color: rgb(39, 39, 39);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;

}
.card-content p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;

}

.card-container {
  width: 100%;
  display: flex;
  gap: 30px;
}
.card-container div {
  width: 32%;
  margin-top: 40px;
  border-radius: 10px;
}
.card-container h2 {
  font-size: 30px;
  color: rgb(39 39 39);
  font-weight: 800;
  margin-bottom: 20px;
}
.card-container p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
}
.card-container img {
  margin-left: 60px;
}
.pink-flower {
  margin-top: 43px;
}
.mix-flower {
  margin-top: 101px;
}
.card-container-div1{
  background-color: #f2dee8;
}
.card-container-div2{
  background-color: #daf0f1;
}
.card-container-div3{
  background-color: #e4ecdc;
}
/* card section style close */

/* Service section styles start */
.service {
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  margin: auto auto;
  padding: 86px 175px;
  gap:30px
}
.service div{
  width:32%;
  text-align: center;
}
.service p{
  color: rgba(39, 39, 39, 0.8);
font-size: 20px;
margin-top: 20px;
font-weight: 600px;
}
/* Service section styles close */
